.App{
  background-color: #21565c;
  min-height: 100vh;
  min-width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 color: white;
}
.events-container{
  display: flex;
  gap: 1rem;
  align-items: center;
 justify-content: center;
}
.session{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 8px solid #14363a;
  border-radius: 2rem;
  align-items: center;
 justify-content: center;
}
.session-label,.break-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}